.primary-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:14px 26px;

    border-radius:10px;

    cursor:pointer;

    font-size:15px;

    font-weight:600;

    transition:.3s;

}

.primary-btn:hover{

    background:#1d4ed8;

    transform:translateY(-2px);

}