body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #90b5f6;
}

h1 {
  color: #064d22;
  text-align: center;
  margin-top: 40px;
}

p {
  text-align: center;
  color: #555;
}